body {
  margin: 0;
  padding: 0;
  font-family: 'veranda', sans-serif;
  background: #E2E2E2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
